<body>
<div ng-controller="OrgController" ng-init="callthis()">
  <div align="center">
<h1>Volunteer Rating</h1>
<div id="hide">
  <p>No new volunteers to rate!</p>
</div>

<div ng-repeat="x in volratingarray">
  <h4 class="eventtitle">Event name: {{x.name}}</h4>
  <h4 class="eventtitle">Location: {{x.location}}</h4>
  <div ng-repeat="y in x.acceptedvollist">
  <p><b>Volunteer name: </b>{{y.name}}</p>
  <p><b>Email: </b>{{y.email}}</p>
  <p><b>Please rate the volunteer (5 being the highest and 1 the lowest)</b><br>
    <form>
      <div class="radio">
        <label><input type="radio" ng-model="y.rating" name="optradio" value="1">1</label>
        <label><input type="radio" ng-model="y.rating" name="optradio" value="2">2</label>
        <label><input type="radio" ng-model="y.rating" name="optradio" value="3">3</label>
        <label><input type="radio" ng-model="y.rating" name="optradio" value="4">4</label>
        <label><input type="radio" ng-model="y.rating" name="optradio" value="5">5</label>
      </div>
    </form>
  </p><button ng-click="rate(y,x)" class="btn btn-success" align="center">Submit</button></p><br>
</div>

<hr>

</div>
<a href="#!/orgprofile"><button class="btn btn-primary" align="center">Home</button></a>
</div>
</body>
