<header>
  <h1 class="text-center title">Pay It Forward<h1>

</header>

    <div class="container">
      <div class="row">
        <div class="col-md-4 col-xs-12 login volunteer">
        <h4 class="text-center">Volunteers</h4>
        <a class="btn btn-default btn-lg btn-block buttonbox top" href="#!/newvolunteer"><button>New user</button></a>
        <a class="btn btn-default btn-lg btn-block buttonbox" href="#!/volunteerlogin"><button>Sign in</button></a>
        </div>
        <div class="col-md-4 col-xs-12 login org">
        <h4 class="text-center">Volunteer Organisations</h4>
        <a class="btn btn-default btn-lg btn-block buttonbox top"  href="#!/organisation"><button>New user</button></a>
        <a class="btn btn-default btn-lg btn-block buttonbox" href="#!/organisationlogin"><button>Sign in</button></a>
        </div>
        <div class="col-md-4 col-xs-12 login hospital">
        <!--<h4>In need of blood?</h4>-->
        <a class="btn btn-default btn-lg btn-block buttonbox" href="#!/hospitals"><button>Ask here!</button></a>
        </div>
        <div ng-controller="MainController">
          <div ng-repeat= "user in userlist">
            {{user.name}}
          </div>
        </div>

</div>
</div>
