
<br><br>
<form class="form-horizontal" ng-controller="MainController">
      <div class="form-group">
        <label class="col-sm-2 control-label">Name</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" placeholder="Name" ng-required="true" ng-model="user.name">
        </div>
      </div>
      <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label" >Email</label>
        <div class="col-sm-4">
          <input type="email" class="form-control" placeholder="Email" ng-required="true" ng-model="user.email">
        </div>
      </div>
      <!--
      <<div class="form-group">
        <label class="col-sm-2 control-label">Address</label>
        <div class="col-sm-4">
          <input class="form-control" placeholder="Address" ng-required="true" ng-model="user.address">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Mobile Number</label>
        <div class="col-sm-4">
          <input type="tel" class="form-control" placeholder="(+1)555 555 5555" ng-required="true" ng-model="user.mobile">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Blood Group</label>
        <div class="col-sm-4">
          <input type="tel" class="form-control" placeholder="A+, B+, O+, B- etc" ng-required="true" ng-model="user.blood">
        </div>
      </div>
    -->
      <div class="form-group">
        <label class="col-sm-2 control-label">Skills</label>
        <div class="col-sm-8">
        <div ng-repeat="skill in allskills">
        <input type="checkbox" checklist-model="storeskills"  checklist-value="skill">{{skill}}<br>{{storeskills}}

      </div>
    </div>
      </div>

      <div class="form-group">
        <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
        <div class="col-sm-4">
          <input class="form-control" placeholder="Password" ng-required="true" ng-model="user.password">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" ng-click = "addUser(user)" class="btn btn-success">Sign up</button>
        </div>
      </div>

    </form>
