<div id="wrapper" data-spy="scroll" data-target="#spy" class="" ng-controller="MainController">
   <!-- Sidebar -->
   <div id="sidebar-wrapper" class="">
       <nav id="spy">
           <ul class="sidebar-nav nav">
               <li class="sidebar-brand active"> <a href="#home" class=""><span class="fa fa-home solo">Home</span></a>

               </li>
               <li class=""> <a href="#!/postevents" class="">
                           <span class="fa fa-anchor solo">Post events</span>
                       </a>

               </li>

               <li class=""> <a href="#!/addvolreview" data-target="#addvolreview" data-scroll="" class="">
                           <span class="fa fa-anchor solo">Add review</span>
                       </a>

               </li>

               <li class=""> <a href="#!" data-target="#" data-scroll="" class="">
                           <span class="fa fa-anchor solo" ng-click="logout()">Logout</span>
                       </a>

               </li>
           </ul>
       </nav>
   </div>
   <!-- Page content -->
   <div id="page-content-wrapper" ng-controller="OrgController">

       <div class="page-content inset">
           <div class="row">
               <div class="jumbotron text-center">
                    <h1 class="">Hello {{currentUser.data.name}} Organiser!</h1>
                   <p class="">Please use the menu on the left to navigate to various links</p>

               </div>
           </div>
           <div class="newrequest">
           <div class="row"  ng-init="load()">
               <div class="col-md-12 well">
                   <h1 id="anch1" class="">New Volunteer Requests:</h1><br>
                  <div id="hidethis">
                    <p>None</p>
                  </div>
                  <div id="details" ng-repeat="x in reqvolarray">
                    <h1>Event name: {{x.name}} </h1>
                    <div ng-repeat="y in x.reqvollist" >
                      <button class="btn btn-danger" ng-click="reject(y,x)" style="float:right; margin-left:3px;">Not now</button><button ng-click="accept(y,x)" class="btn btn-success" style="float:right;">Accept</button></p>
                    <p><b>Volunteer name: </b>{{y.name}}</p>
                    <p><b>Location: </b></p>
                    <p><b>Contact Email: </b>{{y.email}}</p>
                    <p><b>Skills:</b></p>
                    <ul ng-repeat="z in y.skills">
                      <li>{{z}}</li>
                    </ul>
                    <p><b>Rating: </b></p>
                    <hr>
                  </div>

                  </div>


               </div>

           </div>
</div>
</div>
