<h1>Post events here</h1>
<form class="form-horizontal" ng-controller="OrgController as vm">
      <div class="form-group">
        <label class="col-sm-2 control-label">Name of Event</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" placeholder="Name" ng-required="true" ng-model="event.name">
        </div>
      </div>
      <!--
      <div class="form-group">
        <label class="col-sm-2 control-label">Date</label>
        <div class="col-sm-4">
          <input type="date" class="form-control" ng-required="true" ng-model="event.date">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Time</label>
        <div class="col-sm-4">
          <input type="time" class="form-control" ng-required="true" ng-model="event.time">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Estimated time commitment</label>
        <div class="col-sm-4">
          <input type="number" class="form-control" placeholder="Hours" ng-required="true" ng-model="event.estimate">
        </div>
      </div>
    -->
      <div class="form-group">
        <label class="col-sm-2 control-label">Location</label>

        <div class="col-sm-4">
          <input class="form-control" places-auto-complete size="59"
            ng-model="event.location"
            component-restrictions="{country:'us'}"
            types="{{types}}"
            on-place-changed="vm.placeChanged()" /> <br/>

        </div>
      </div>

      <!--
      <div class="form-group">
        <label class="col-sm-2 control-label">Sponsoring Organization/Person</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" placeholder="Sponsor" ng-required="true" ng-model="event.sponsor">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Description</label>
        <div class="col-sm-4">
          <textarea type="text" class="form-control" placeholder="Short Description" ng-required="true" ng-model="event.description"></textarea>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Contact email</label>
        <div class="col-sm-4">
          <input type="email" class="form-control" placeholder="xxx@email.com" ng-required="true" ng-model="event.email">
        </div>
      </div>
    -->

      <div class="form-group">
        <label class="col-sm-2 control-label">Skills</label>
        <div class="col-sm-8">
        <div ng-repeat="skill in allskills">
        <input type="checkbox" checklist-model="skills" checklist-value="skill">{{skill}}<br>
      </div>
    </div>
  </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-success" ng-click="postEvent(event)">Submit</button>
        </div>
      </div>

    </form>
