<body>
<div ng-controller="MainController as vm" id="wrapper" data-spy="scroll" data-target="#spy" class="">
   <!-- Sidebar -->
   <div id="sidebar-wrapper" class="">
       <nav id="spy">
           <ul class="sidebar-nav nav">
               <li class="sidebar-brand active"> <a href="#home" class=""><span class="fa fa-home solo">Home</span></a>

               </li>
               <li class=""> <a href="#anch1" data-scroll="" class="">
                           <span class="fa fa-anchor solo">Edit Profile</span>
                       </a>

               </li>
               <li class=""> <a href="#anch2" data-scroll="" class="">
                           <span class="fa fa-anchor solo">History</span>
                       </a>

               </li>
               <li class=""> <a href="#anch3" data-scroll="" class="">
                           <span class="fa fa-anchor solo">Chat!</span>
                       </a>

               </li>

               <li class=""> <a href="#anch4" data-scroll="" class="">
                           <span class="fa fa-anchor solo">Logout</span>
                       </a>

               </li>
           </ul>
       </nav>
   </div>


           <div class="row">

               <div class="jumbotron text-center col-md-8">
                    <h1 class="">Hello {{currentUser.data.name}}!</h>
               </div>
               <div style="background-color:lightblue;" class="col-md-4">
                 <h1>Events nearby</h1>
               </div>
            </div>
            <div class="row">
              <p><button ng-click="gotoCurrentLocation()">I feel like helping someone nearby. Search for locations near me</button></p>

               <div class=" col-md-8">
             <ng-map id="map" center='current-position'
    geo-fallback-center="[40.74, -74.18]"
    geo-callback="vm.callbackFunc('you')"
    >
    <marker animation="DROP" position="current-location">

    </marker>
    </ng-map>
               </div>
           </div>
           <script>
           console.log("hello");
           </script>

</body>
