<div ng-controller="MainController">
  <div class="container">
  <div class="row">

<h1>Event details:</h1>
<meta property="og:description" content="Eventname" />
<p><strong>Event name: </strong> {{eventname}}</p>
<p><strong>Event location: </strong> {{eventloc}}</p>
<p><strong>Expected skills: </strong>
<ul ng-repeat="y in eventskills">
  <li>{{y}}</li>
</ul></p>
{{finaleventid=eventid;""}}
</div>
<div class="row">
  <div class="col-md-8">
<h1>Direction to the event location:</h1><br>
<ng-map id="map" center='current-position'
geo-fallback-center="[40.74, -74.18]"
geo-callback="vm.callbackFunc('you')">
<marker animation="DROP" position="current-location">
</marker>
<directions
          draggable="true"
          panel="directions-panel"
          travel-mode="DRIVING"
          origin= "current-location"
          destination= "{{eventcoord}}">
</directions>
</ng-map>
<br>
<button class="btn btn-success" ng-click="requestevent()">Request this!</button>

<button class="btn"><a  href="#!/userprofile"
socialshare
socialshare-provider="facebook"
socialshare-via="1983792525200170"
socialshare-type="share"
socialshare-description="Test page"
socialshare-text="Hey there"
socialshare-caption="amavido"
socialshare-url="http://facebook.com"
socialshare-redirect-uri="http://localhost:3000/#!/userprofile">
Share
</a><i class="fa fa-facebook-official fa-2x" style="color:#3b5998 " aria-hidden="true"></i></button>
<a href="#!/userprofile"><button class="btn btn-primary" align="center">Home</button></a>
</div>
<div class="col-md-4">
<div id="directions-panel">
    </div>

  </div>
  </div>
</div>
</div>
