<br><br>
<p>Please enter the details of event here:</p>
<form class="form-horizontal">
      <div class="form-group">
        <label class="col-sm-2 control-label">Organisation Name</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" placeholder="Name" ng-required="true" ng-model="event.name">
        </div>
      </div>
      <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">Event description</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" placeholder="" ng-required="true" ng-model="event.description">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Location</label>
        <div class="col-sm-4">
          <input class="form-control" placeholder="Address" ng-required="true" ng-model="event.location">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Contact Number</label>
        <div class="col-sm-4">
          <input type="tel" class="form-control" placeholder="(+1)555 555 5555" ng-required="true" ng-model="event.number">
        </div>
      </div>
      <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">Duties</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" placeholder="Email" ng-required="true" ng-model="event.duties">
        </div>
      </div>
      <div class="form-group">
        <label for="inputPassword3" class="col-sm-2 control-label">Skills Needed</label>
        <div class="col-sm-4">
          <input class="form-control" placeholder="" ng-required="true" ng-model="event.skills">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-success" ng-click="">Submit</button>
        </div>
      </div>

    </form>
